# Compiled source #
__pycache__/

# Environments #
env/
venv/

# Workspace
codealong.code-workspace

# Ansible
hosts
ansible.cfg
*.pem
*.pem

# Config files
devops/.config/*

# Terraform state
.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
*.tfout

# Ignore all .DS_Store files in the repository
**/.DS_Store

# Ignore all .env files in the repository
.env
**/creds/credentials.json
**/creds/token.json
**/creds/token.pickle

# Config
*/keys/*.txt
*/keys/*.pem
*/keys/*.pub

notebooks/langchain/emails.csv
Notes/