[defaults]
inventory=hosts

# private_key_file=<PATH_TO_PRIVATE_KEY_FILE>
# remote_user=root

host_key_checking=False
action_warnings=False
deprecation_warnings=False

# vault_password_file=<PATH_TO_VAULT_PASSWORD_FILE>